﻿

@model SBMSwebApp.Models.Models.CategoryViewModel
@{
    ViewBag.Title = "SaveCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form-group" style="border:1px solid #00ff21; padding: 5px;">
        <h4 style="font-family:'Bookman Old Style';" align="center">Add Category</h4>
    </div>
<div class="container" style="width:100%;">
    <div class="form-group row">
        <a  href="/Category/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Category List</a><hr />
        
        @if (ViewBag.Message != null)
        {
            <h3 width="60%" align="center" class="label-danger">@ViewBag.Message</h3>

        }
    </div>
</div>

<div class="container">
    <form method="post">
        <input type="hidden" name="IsActive" value="True" />
        <input type="hidden" name="Date" value="@DateTime.Now" />
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align:right; padding:5px ">
                <label>Code</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="CategoryCode" placeholder="Enter category code" value="@if (Model != null) { @Model.CategoryCode}" />
                @Html.ValidationMessageFor(c=>c.CategoryCode, null, new { @class ="text-danger"})
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align:right; padding:5px ">
                <label>Category Name</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="CategoryName" placeholder="Enter category name" value="@if (Model != null) { @Model.CategoryName}" />
                @Html.ValidationMessageFor(c=>c.CategoryName)
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-block btn-success" value="Save" />
            </div>
        </div>
    </form>
</div>

@section Scripts{



}